{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <!-- Logo -->
  <div class="logo">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img class="logo-light" src="/themes/custom/inkadrupal/img/logo-light.png" alt="Inka Solutions" />
          <img class="logo-dark" src="/themes/custom/inkadrupal/img/logo-dark.png" alt="Inka Solutions" />
      </a>
  </div>
  <!-- End Logo -->
{% endblock %}
